<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="LOKI" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <destination>http://loki:3100/loki/api/v1/push</destination>  <!-- Loki endpoint -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"your-app-name", "environment":"dev"}</customFields>
        </encoder>

        <includeCallerData>true</includeCallerData>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOKI"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
